*{
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body{
  margin: 2rem 3rem;
  background-color: #3498db;
}

.wrapper{
  text-align: center;
  
  border-radius: 4px;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 3px solid white;
}

.form{
  padding: 1rem;
}

.input{
  display: block;
  margin: auto;
  border: none;
  background-color: white;
  height: 1.7rem;
  font-size: 1.4rem;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.sbtn{
  display: block;
  margin: auto;
  width: 40%;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
}

.sbtn:hover{
  background-color: #34495e;
  color: white;
}

.card{
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  background-color: white;
}

.card h4{
  text-align: center;
  color: #3498db;
}

.card p{
  font-style: italic;
}

img{
  border: solid 2px black;
  width: 8rem;
  height: auto;
  margin-top: 1rem;
}

.container{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

@media(max-width: 600px) {
  body{
    margin: 1rem;
  }

  .sbtn, #pattern{
    width: 100%;
  }

  .container{
    grid-template-columns: 1fr;
  }

}
